@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap&subset=cyrillic-ext");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  font-size: 15px;
}

body {
  line-height: 1;
  color: #000000;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

:root {
  --color_orng: #FBB03B;
  --light-color: #666;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0px auto;
  padding: 0px 50px;
}

/* №1 */
@media (max-width: 1300px) {
  [class*=__container] {
    padding: 0px 30px;
  }
}
/* №2 */
@media (max-width: 991.98px) {
  [class*=__container] {
    padding: 0px 10px;
  }
}
/* №3 */
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
/* Условные планшеты */
/* Условные мобилки */
body {
  position: relative;
}
@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .header__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.header__logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link-logo {
  position: relative;
  z-index: 10;
}
.header__logo-img {
  max-width: 265px;
  height: auto;
  -webkit-transform: translate(-25px, 0);
      -ms-transform: translate(-25px, 0);
          transform: translate(-25px, 0);
}
@media (max-width: 1500px) {
  .header__logo-img {
    max-width: 200px;
  }
}
@media (max-width: 1040px) {
  .header__logo-img {
    max-width: 150px;
  }
}
@media (max-width: 991.98px) {
  .header__logo-img {
    -webkit-transform: translate(-30px, 0);
        -ms-transform: translate(-30px, 0);
            transform: translate(-30px, 0);
    max-width: 140px;
  }
}
@media (max-width: 767.98px) {
  .header__logo-img {
    max-width: 130px;
    padding-top: 10px;
  }
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  margin-top: 40px;
}
@media (max-width: 1250px) {
  .header__links {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 1040px) {
  .header__links {
    margin-top: 25px;
  }
}
@media (max-width: 991.98px) {
  .header__links {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .header__links {
    margin-top: 0px;
    position: absolute;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    padding: 20px 10px 20px 10px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .header__links.active {
    z-index: 1;
    top: 0px;
    padding: 188px 0 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 58px;
  }
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px 45px;
}
@media (max-width: 1250px) {
  .header__ul {
    gap: 20px 32px;
  }
}
@media (max-width: 991.98px) {
  .header__ul {
    gap: 20px 20px;
  }
}
@media (max-width: 767.98px) {
  .header__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 50px;
    z-index: 11;
  }
}
.header__nav-link {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.header__nav-link:hover {
  color: rgba(0, 0, 0, 0.4);
}
.header__nav-link:active {
  color: var(--color_orng);
}
@media (max-width: 1500px) {
  .header__nav-link {
    font-size: 18px;
  }
}
@media (max-width: 1250px) {
  .header__nav-link {
    font-size: 15px;
  }
}
@media (max-width: 1040px) {
  .header__nav-link {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .header__nav-link {
    font-size: 13px;
  }
}
@media (max-width: 767.98px) {
  .header__nav-link {
    font-size: 20px;
  }
}
.header__select {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  background: #FFC158;
  outline: none;
}
.header__select:hover {
  color: #fff;
}
.header__select:active {
  color: #000;
}
@media (max-width: 1250px) {
  .header__select {
    font-size: 15px;
  }
}
@media (max-width: 1040px) {
  .header__select {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .header__select {
    font-size: 13px;
  }
}
@media (max-width: 767.98px) {
  .header__select {
    background: transparent;
    font-size: 20px;
  }
}
.header__option {
  font-size: 20px;
  font-weight: 600;
  border: 0.75px solid #000;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1250px) {
  .header__option {
    font-size: 15px;
  }
}
@media (max-width: 1040px) {
  .header__option {
    font-size: 14px;
  }
}
@media (max-width: 991.98px) {
  .header__option {
    font-size: 13px;
  }
}
.header__bg.active img {
  display: none;
}
.header__bg-mobile1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
@media (max-width: 540.98px) {
  .header__bg-mobile1 {
    display: none;
  }
}
.header__bg-mobile2 {
  display: none;
}
@media (max-width: 540.98px) {
  .header__bg-mobile2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }
}

.activ {
  color: #fff;
}
@media (max-width: 767.98px) {
  .activ {
    color: #000;
  }
}

.burger {
  display: none;
}
@media (max-width: 767.98px) {
  .burger {
    display: block;
    width: 25px;
    height: 20px;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 15px;
    z-index: 2;
    margin-top: 25px;
  }
  .burger::after, .burger::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .burger::after {
    top: 8px;
  }
  .burger::before {
    top: -8px;
  }
  .burger__line {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: black;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .burger.active::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0;
  }
  .burger.active::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0;
  }
  .burger.active .burger__line {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}

._link-btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
  background: #FF8D3F;
  padding: 22px 50px;
}

.first {
  padding: 80px 0 439px 0;
}
@media (max-width: 1697px) {
  .first {
    padding: 80px 0 309px 0;
  }
}
@media (max-width: 1500px) {
  .first {
    padding: 80px 0 249px 0;
  }
}
@media (max-width: 1300px) {
  .first {
    padding: 80px 0 149px 0;
  }
}
@media (max-width: 1150px) {
  .first {
    padding: 80px 0 129px 0;
  }
}
@media (max-width: 991.98px) {
  .first {
    padding: 80px 0 109px 0;
  }
}
@media (max-width: 885px) {
  .first {
    padding: 80px 0 69px 0;
  }
}
@media (max-width: 767.98px) {
  .first {
    padding: 30px 0 110px 0;
  }
}
@media (max-width: 660.98px) {
  .first {
    padding: 93px 0 20px 0;
  }
}
@media (max-width: 540.98px) {
  .first {
    padding: 93px 0 400px 0;
  }
}
.first__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 70px;
}
@media (max-width: 767.98px) {
  .first__body {
    row-gap: 40px;
  }
}
@media (max-width: 540.98px) {
  .first__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 540.98px) {
  .first__body {
    row-gap: 28px;
  }
}
.first__title {
  color: #FFF;
  font-size: 72px;
  font-weight: 800;
  line-height: 133.333%;
  max-width: 970px;
}
@media (max-width: 1597px) {
  .first__title {
    font-size: 60px;
    max-width: 770px;
  }
}
@media (max-width: 1300px) {
  .first__title {
    font-size: 42px;
    max-width: 570px;
  }
}
@media (max-width: 1050px) {
  .first__title {
    font-size: 30px;
    max-width: 390px;
  }
}
@media (max-width: 767.98px) {
  .first__title {
    font-size: 20px;
    max-width: 270px;
  }
}
@media (max-width: 540.98px) {
  .first__title {
    font-size: 22px;
    max-width: 313px;
  }
}
.first__batton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first__link {
  position: relative;
  z-index: 0;
}
@media (max-width: 1050px) {
  .first__link {
    padding: 15px 25px;
  }
}
@media (max-width: 767.98px) {
  .first__link {
    padding: 10px 20px;
    font-size: 16px;
  }
}
@media (max-width: 540.98px) {
  .first__link {
    padding: 15px 25px;
  }
}
.first__bg {
  display: none;
}
@media (max-width: 540.98px) {
  .first__bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 540.98px) {
  .first__bg-1 {
    position: absolute;
    top: 540px;
    left: 10%;
    max-width: 256px;
  }
}
@media (max-width: 540.98px) {
  .first__bg-2 {
    position: absolute;
    top: 360px;
    left: 58%;
    max-width: 111px;
  }
}

.two__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 885px) {
  .two__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.two__bg_2mob {
  display: none;
}
.two__bg_1 img {
  max-width: 100%;
}
@media (max-width: 540px) {
  .two__bg_1 .two__bg_1img {
    display: none;
  }
  .two__bg_1 .two__bg_2mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.two__bg_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.two__bg_2 img {
  max-width: 100%;
}
@media (max-width: 885px) {
  .two__bg_2 img {
    max-height: 370px;
  }
}
@media (max-width: 600px) {
  .two__bg_2 img {
    max-height: 300px;
  }
}

.three {
  padding: 78px 0px 200px 0px;
}
@media (max-width: 1200px) {
  .three {
    padding: 78px 0px 100px 0px;
  }
}
@media (max-width: 991.98px) {
  .three {
    padding: 28px 0px 100px 0px;
  }
}
@media (max-width: 767.98px) {
  .three {
    padding: 28px 0px 60px 0px;
  }
}
.three__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.three__bagr {
  position: absolute;
  z-index: -2;
  top: 55%;
  right: -28%;
  -webkit-transform: translate(0, -65%);
      -ms-transform: translate(0, -65%);
          transform: translate(0, -65%);
  width: 100%;
}
@media (max-width: 1200px) {
  .three__bagr {
    top: 55%;
    right: -25%;
    -webkit-transform: translate(0, -69%);
        -ms-transform: translate(0, -69%);
            transform: translate(0, -69%);
  }
}
@media (max-width: 991.98px) {
  .three__bagr {
    top: 56%;
    right: -25%;
    -webkit-transform: translate(0, -69%);
        -ms-transform: translate(0, -69%);
            transform: translate(0, -69%);
  }
}
@media (max-width: 767.98px) {
  .three__bagr {
    top: 57%;
    right: -25%;
    -webkit-transform: translate(0, -69%);
        -ms-transform: translate(0, -69%);
            transform: translate(0, -69%);
  }
}
@media (max-width: 700.98px) {
  .three__bagr {
    display: none;
  }
}
.three__bagr img {
  max-width: 100%;
}
.three__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  font-size: 36px;
  font-weight: 800;
  line-height: 138.889%;
  text-align: center;
}
@media (max-width: 991.98px) {
  .three__title {
    font-size: 29px;
  }
}
.three__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 66px;
  padding: 0px 10px;
}
@media (max-width: 991.98px) {
  .three__items {
    row-gap: 50px;
  }
}
@media (max-width: 700.98px) {
  .three__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.three__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 78px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 700.98px) {
  .three__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px 0px;
  }
}
.three .-three_img-order {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 700.98px) {
  .three .-three_img-order {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.three__img {
  max-width: 430px;
}
.three__img img {
  max-width: 100%;
}
.three__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
@media (max-width: 700.98px) {
  .three__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.three__text {
  max-width: 500px;
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
@media (max-width: 700.98px) {
  .three__text {
    text-align: center;
  }
}
.three__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 700.98px) {
  .three__link {
    padding: 15px 25px;
    font-size: 16px;
  }
}

.contact {
  padding: 28px 0px 20px 0px;
}
@media (max-width: 1200px) {
  .contact {
    padding: 5px 0px 20px 0px;
  }
}
.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 128px;
}
@media (max-width: 1280px) {
  .contact__body {
    gap: 0px 100px;
  }
}
@media (max-width: 991.98px) {
  .contact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}
.contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 120px;
}
@media (max-width: 700.98px) {
  .contact__items {
    gap: 0px 80px;
  }
}
.contact__title {
  color: #000;
  font-size: 36px;
  font-weight: 800;
  line-height: 138.889%;
}
@media (max-width: 1400px) {
  .contact__title {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .contact__title {
    font-size: 25px;
  }
}
@media (max-width: 700.98px) {
  .contact__title {
    font-size: 20px;
  }
}
.contact__inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__inst a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 117px;
}
@media (max-width: 1200px) {
  .contact__inst a {
    width: 80px;
  }
}
.contact__inst a img {
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .contact__inst {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
  }
}
.contact__text {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}
@media (max-width: 700.98px) {
  .contact__text {
    font-size: 18px;
  }
}
.contact__faceb {
  gap: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__faceb a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 117px;
}
@media (max-width: 1200px) {
  .contact__faceb a {
    width: 80px;
  }
}
.contact__faceb a img {
  max-width: 100%;
}
@media (max-width: 991.98px) {
  .contact__faceb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
  }
}